<footer class="bg-natural-95">
    <div class="container">
        <div class="d-lg-flex d-block align-items-center justify-content-between py-lg-6 py-5 border-top">
        <ul class="nav justify-content-center">
            <li class="nav-item">
            <a class="nav-link link-black" aria-current="page" href="#">服務方案</a>
            </li>
            <li class="nav-item">
            <a class="nav-link link-black" href="#">關於職旅</a>
            </li>
            <li class="nav-item">
            <a class="nav-link link-black" href="#">聯絡我們</a>
            </li>
            <li class="nav-item">
            <a class="nav-link link-black" href="#">隱私權政策</a>
            </li>
            <li class="nav-item">
            <a class="nav-link link-black" href="#">用戶條款</a>
            </li>
        </ul>
        <div class="copyright text-natural-50 text-center">Copyright © 2025 職旅 workway. All rights reserved.</div>
        </div>
    </div>
</footer>