<footer class="bg-gray">
    <div class="container">
        <div class="d-flex align-items-center justify-content-between py-4 border-top">
        <ul class="nav">
            <li class="nav-item">
            <a class="nav-link active link-secondary" aria-current="page" href="#">服務方案</a>
            </li>
            <li class="nav-item">
            <a class="nav-link link-secondary" href="#">關於職旅</a>
            </li>
            <li class="nav-item">
            <a class="nav-link link-secondary" href="#">聯絡我們</a>
            </li>
            <li class="nav-item">
            <a class="nav-link link-secondary" href="#">隱私權政策</a>
            </li>
            <li class="nav-item">
            <a class="nav-link link-secondary" href="#">用戶條款</a>
            </li>
        </ul>
        <div class="copyright text-secondary">Copyright © 2025 職旅 workway. All rights reserved.</div>
        </div>
    </div>
</footer>