.fz-14{
  font-size: 14px;
}

.mb-21{
  margin-bottom: 21px;
}

@media (max-width: 768px){
.side-width{
  max-width: 100%;
}

.nav-link{
  padding: 12px 12px;;
  font-size: 14px;
}

.reserve-left-btn{
  padding: 12px 12px;
  font-size: 14px;
}

.table-head{
  font-size: 14px;

  th{
    padding-top: 11.5px;
    padding-bottom: 11.5px;
  }
}
}

@media (min-width: 992px){
.side-width{
  width: 300px;
}

.nav-link{
  padding: 12px 20px;
}

.reserve-left-btn{
  padding: 12px 20px;
}

.table-head{
  font-size: 14px;

  th{
    padding-top: 11.5px;
    padding-bottom: 11.5px;
  }
}
}

